@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
    margin: 0;
    font-family: "Source Sans 3", sans-serif;
}

.socials {
    text-align: center;
    word-spacing: 20px;
    margin-top: 20px;
}

.github-btn,
.x-btn,
.gmail-btn {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0px solid;
    border-radius: 20px; 
    font-weight: bold;
    font-size: 20px;
}

.github-btn:hover,
.x-btn:hover,
.gmail-btn:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.container {
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 16px;
    transition: transform 0.2s ease-in-out;
}

.container:hover {
    box-shadow: 4px 5px 20px 6px rgba(0,0,0,0.42);
    transform: translateY(-3px);
    cursor: pointer;
}

img {
    width: 300px;
}

h1 {
    margin-bottom: 0;
}

h2 {
    background-color: #ADD8E6;
    width: fit-content;
    padding: 0 10px;
    border-radius: 8px;
    margin-top: 0;
    font-size: 15px;
}

.user-inputs {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    font-size: 20px;
}

.iterate {
    width: 50px;
    height: 30px;
    border: none;
    background-color: #CFCFCF;
    font-size: 20px;
    border-radius:7px;
}

.iterate:hover {
    cursor: pointer;
}