@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
    margin: 0;
    font-family: "Source Sans 3", sans-serif;
}

.socials {
    text-align: center;
    word-spacing: 20px;
    margin-top: 20px;
}

.github-btn,
.x-btn,
.gmail-btn {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0px solid;
    border-radius: 20px; 
    font-weight: bold;
    font-size: 20px;
}

.github-btn:hover,
.x-btn:hover,
.gmail-btn:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.container {
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 4px 5px 20px 6px rgba(0,0,0,0.42);
    transition: transform 0.2s ease-in-out;
}

.container:hover {
    transform: translateY(-3px);
}

.modal {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 300px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #666;
    background-color: transparent;
    backdrop-filter: blur(10px);
    color: whitesmoke;
}

.close-btn-container {
    margin: 10px;
    text-align: right;
}

#close-btn {
    cursor: pointer;
    border: none;
    background: none;
    font-weight: 600;
    font-size: 20px;
}

img {
    width: 300px;
}

h1 {
    margin-bottom: 0;
}

h2 {
    background-color: #ADD8E6;
    width: fit-content;
    padding: 0 10px;
    border-radius: 8px;
    margin-top: 0;
    font-size: 15px;
}

.user-inputs {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    font-size: 20px;
}

.iterate {
    width: 50px;
    height: 30px;
    border: none;
    background-color: #CFCFCF;
    font-size: 20px;
    border-radius:7px;
}

.iterate:hover {
    cursor: pointer;
}

.order-status-container {
    /* border: 1px solid red; */
    width: fit-content;
    display: none;
    flex-direction: row;
    background-color: #6FC276;
    border-radius: 10px;
    margin-top: 70px;
    margin-left: 10px;
}